[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = ">=0.94.1"}
uvicorn = {extras = ["standard"], version = "*"}
strawberry-graphql = {extras = ["fastapi", "cli"], version = ">=0.134.0"}
tenacity = "*"
beanie = "*"
supertokens-python = "==0.27.0"
httpx = "*"
pyyaml = "*"
motor = "*"

[dev-packages]
asgi-lifespan = "*"
pydevd-pycharm = ">=243.21565.199"
pre-commit = "*"
docker = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-env = "*"
pytest-datafixtures = "*"
pytest-mock = "*"
ruff = "*"
mongomock-motor = "*"

[requires]
python_version = "3.12"