[tool.pytest.ini_options]
pythonpath = "src"
testpaths = ["tests/"]
asyncio_mode = "auto"

env = [
    "SERVER_NAME=Auth Test",
    "SERVER_HOST=http://localhost:6000",
    "ROUTER_URL=http://localhost:7000",
    "CONNECTION_URI=http://localhost:3568",
    "BACKEND_CORS_ORIGINS=http://localhost:9000",
    "API_KEY=",
    "SMTP_HOST=email-smtp.eu-central-2.amazonaws.com",
    "SMTP_PORT=5897",
    "SMTP_EMAIL=noreply@noreply.io",
    "SMTP_NAME=Test",
    "SMTP_PASSWORD=BEPr8mQV7A/jtUv/MGIGherhrye789hyr9ehabrgPMJF",
    "SMTP_USERNAME=AKIAW3MEGUGUE7NP",
    "POSTGRES_USER=user",
    "POSTGRES_PASSWORD=password",
    "POSTGRES_HOST=localhost",
    "POSTGRES_DB=auth",
    "POSTGRES_PORT=5432",
]

[tool.ruff]
line-length = 120
target-version = "py312"